// Mixins

// Button sizes
@mixin button-size($padding-y, $padding-x, $font-size, $line-height, $border-radius) {
    padding: $padding-y $padding-x;
    line-height: $line-height;
  }

// Sizing shortcuts

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
  }

  
// Fonts

@mixin font($size: false,$color: false,$weight: false,$lh: false) {
  @if $size {
    font-size:$size;
  }
  @if $color {
    color:$color;
  }
  @if $weight {
    font-weight:$weight;
  }
  @if $lh {
    line-height:$lh;
  }
}

// Themes

@mixin themable($theme-name, $container-bg, $main-font, $color-title, $innertext) {
  .#{$theme-name} {
        background:$container-bg;
        font-family:$main-font;
        .restaurant-name {
          background: $innertext;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        .subtitle {
          color:$color-title;
        }
  }
}

// Flex bloc

@mixin flex ($flex-direction, $align-items: false, $justify: false) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify;
}

// Couleurs theme 2

@mixin color($section-name, $color) {
  .#{$section-name} {
    color:$color;
    * {
      color:$color;
    }
}
}