@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Balsamiq+Sans&family=Dancing+Script&family=Kaushan+Script&family=Open+Sans:wght@400;800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h2 {
  font-size: 1.25rem;
  color: #000000;
  font-weight: 400;
  line-height: 1.6rem;
}

.btn {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #FDCB47;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  background-color: #569C87;
  border: 1px solid #569C87;
  padding: 0.5625rem 1.5rem;
  line-height: auto;
}

header {
  background: #569C87;
  width: 100%;
  height: 4.25rem;
}
header p {
  font-size: 1.6875rem;
  font-weight: 800;
  letter-spacing: -1.8px;
  text-align: center;
  color: #FDCB47;
  padding-top: 1rem;
}

footer {
  background: #569C87;
  width: 100%;
  height: 3rem;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  bottom: 0;
}
footer a {
  color: #FDCB47;
  font-size: 1rem;
  padding: 10px 20px;
}
@media (max-width: 448px) {
  footer a {
    font-size: 0.75rem;
  }
}

.card-prev {
  height: 500px;
  box-shadow: 0 0 5px 0 rgba(161, 161, 161, 0.5);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.card-prev p {
  padding-bottom: 1rem;
  font-size: 0.75rem;
  text-align: center;
}
@media (max-width: 448px) {
  .card-prev p {
    font-size: 0.65rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 960px) {
  .card-prev {
    height: 350px;
  }
}
@media (max-width: 640px) {
  .card-prev {
    height: 250px;
  }
}
@media (max-width: 448px) {
  .card-prev {
    height: 150px;
  }
}

body {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
}

a:link {
  text-decoration: none;
}

i {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  background: linear-gradient(90deg, #f05160 0%, #f6916a 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 448px) {
  i {
    font-size: 1rem;
  }
}
@media (min-width: 1400px) {
  i {
    font-size: 2.5rem;
  }
}

.container {
  width: 100%;
  margin: auto;
  padding: 0px;
}

main {
  padding: 0px 20px;
  margin: auto;
  margin-bottom: 11vw;
}
@media (max-width: 960px) {
  main {
    padding: 0px 60px;
    margin-bottom: 6vw;
  }
}

.cards {
  display: flex;
  width: 100%;
  margin: 5rem auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cards a {
  width: 49%;
}
@media (min-width: 960px) {
  .cards a {
    width: 24%;
  }
}
@media (max-width: 960px) {
  .cards {
    margin: 2rem auto;
  }
}
@media (max-width: 640px) {
  .cards {
    margin: 1rem auto;
  }
}

button {
  border: none;
  border-radius: 8px;
  background: #569C87;
  padding: 8px 25px;
}
button a {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.125rem;
  text-align: center;
  color: #FDCB47;
  text-decoration: none;
}
@media (max-width: 448px) {
  button a {
    font-size: 1rem;
  }
}

.center-row {
  display: flex;
  justify-content: center;
}

.theme-1 {
  background: #fcdfdb;
  font-family: "Balsamiq Sans", cursive;
}
.theme-1 p {
  background: linear-gradient(90deg, #f05160 0%, #f6916a 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.theme-1 h2 {
  color: #2c0308;
  font-size: 1.25rem;
}
@media (max-width: 448px) {
  .theme-1 h2 {
    font-size: 1rem;
  }
}

.theme-2 {
  background: #fff5fe;
  font-family: "Abril Fatface", cursive;
}
.theme-2 p {
  background: linear-gradient(90deg, #d78431 0%, #8f5bfa 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.theme-2 h2 {
  color: #C77413;
  font-size: 1.25rem;
}
@media (max-width: 448px) {
  .theme-2 h2 {
    font-size: 1rem;
  }
}

.theme-3 {
  background: #F9F9F9;
  font-family: "Dancing Script", cursive;
}
.theme-3 p {
  background: linear-gradient(90deg, #0131df 0%, #0d85f9 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.theme-3 h2 {
  color: #0687FB;
  font-size: 1.25rem;
}
@media (max-width: 448px) {
  .theme-3 h2 {
    font-size: 1rem;
  }
}

.theme-4 {
  background: #FDFFFD;
  font-family: "Kaushan Script", cursive;
}
.theme-4 p {
  background: linear-gradient(90deg, #44983d 0%, #bdfa7d 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.theme-4 h2 {
  color: #72BF55;
  font-size: 1.25rem;
}
@media (max-width: 448px) {
  .theme-4 h2 {
    font-size: 1rem;
  }
}

.theme-1 h2 {
  text-transform: uppercase;
}
