@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Balsamiq+Sans&family=Dancing+Script&family=Kaushan+Script&family=Open+Sans:wght@400;800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 1.5rem;
  color: #000000;
  font-weight: 400;
  line-height: 1.5rem;
  text-align: center;
  padding-bottom: 1rem;
}
@media (min-width: 640px) {
  h1 {
    font-size: 1.875rem;
    color: #000000;
    font-weight: 400;
    line-height: 1.875rem;
    padding-bottom: 2rem;
  }
}
@media (min-width: 1400px) {
  h1 {
    font-size: 2.25rem;
    color: #000000;
    font-weight: 400;
    line-height: 2.25rem;
  }
}

h2 {
  font-size: 1.25rem;
  color: #000000;
  font-weight: 400;
  line-height: 1.6rem;
}
@media (min-width: 640px) {
  h2 {
    font-size: 1.5625rem;
    color: #000000;
    font-weight: 400;
    line-height: 2rem;
  }
}
@media (min-width: 1400px) {
  h2 {
    font-size: 1.875rem;
    color: #000000;
    font-weight: 400;
    line-height: 2.4rem;
  }
}

h3 {
  font-size: 1rem;
  color: #000000;
  font-weight: 400;
  line-height: 1.2rem;
}
@media (min-width: 640px) {
  h3 {
    font-size: 1.25rem;
    color: #000000;
    font-weight: 400;
    line-height: 1.5rem;
  }
}
@media (min-width: 1400px) {
  h3 {
    font-size: 1.5rem;
    color: #000000;
    font-weight: 400;
    line-height: 1.8rem;
  }
}

.btn {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #FDCB47;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  background-color: #569C87;
  border: 1px solid #569C87;
  padding: 0.5625rem 1.5rem;
  line-height: auto;
}

header {
  background: #569C87;
  height: 4.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header p {
  font-size: 1.6875rem;
  font-weight: 800;
  letter-spacing: -1.8px;
  text-align: center;
  color: #FDCB47;
  padding-top: 1rem;
}

.main-logo {
  width: 135px;
}

footer {
  background: #569C87;
  height: 3rem;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  bottom: 0;
}
footer a {
  color: #FDCB47;
  font-size: 1rem;
  padding: 10px 20px;
}
@media (max-width: 448px) {
  footer a {
    font-size: 0.75rem;
  }
}

.card-prev {
  height: 200px;
  box-shadow: 0 0 5px 0 rgba(161, 161, 161, 0.5);
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.card-prev p {
  padding-bottom: 0.5rem;
  font-size: 0.65rem;
  text-align: center;
}
@media (min-width: 640px) {
  .card-prev p {
    font-size: 1rem;
    padding-bottom: 1rem;
  }
}
@media (min-width: 448px) {
  .card-prev {
    height: 250px;
  }
}
@media (min-width: 640px) {
  .card-prev {
    height: 400px;
  }
}
@media (min-width: 960px) {
  .card-prev {
    height: 350px;
  }
}
@media (min-width: 1400px) {
  .card-prev {
    height: 400px;
  }
}

.theme-1 {
  background: #fcdfdb;
  font-family: "Balsamiq Sans", cursive;
}
.theme-1 p {
  background: linear-gradient(90deg, #f05160 0%, #f6916a 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.theme-1 h2 {
  color: #2c0308;
}

.theme-1 h2 {
  text-transform: uppercase;
}
.theme-1 i + h2 {
  text-transform: none;
}

h3 i {
  padding-right: 10px;
  font-size: 1rem;
}
@media (min-width: 1400px) {
  h3 i {
    font-size: 2rem;
  }
}

.theme-2 {
  background: #fff5fe;
  font-family: "Abril Fatface", cursive;
}
.theme-2 p {
  background: linear-gradient(90deg, #d78431 0%, #8f5bfa 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.theme-2 h2 {
  color: #C77413;
}

.theme-3 {
  background: #F9F9F9;
  font-family: "Dancing Script", cursive;
}
.theme-3 p {
  background: linear-gradient(90deg, #0131df 0%, #0d85f9 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.theme-3 h2 {
  color: #0687FB;
}

.theme-4 {
  background: #FDFFFD;
  font-family: "Kaushan Script", cursive;
}
.theme-4 p {
  background: linear-gradient(90deg, #44983d 0%, #bdfa7d 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.theme-4 h2 {
  color: #72BF55;
}

html {
  height: 100%;
}

body {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: false;
  justify-content: center;
}

a:link {
  text-decoration: none;
}

i {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
  background: linear-gradient(90deg, #f05160 0%, #f6916a 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 1400px) {
  i {
    font-size: 2.5rem;
  }
}

main {
  flex: 1;
  margin: 3rem 0 3rem 0;
}
@media (min-width: 960px) {
  main {
    margin: 5rem 0 5rem 0;
  }
}

section {
  width: 85%;
  margin: 0 auto;
}
@media (min-width: 960px) {
  section {
    width: 80%;
  }
}
@media (min-width: 1400px) {
  section {
    width: 66.6%;
  }
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: false;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}
.cards a {
  width: 49%;
  margin: 0 auto;
}
@media (min-width: 960px) {
  .cards a {
    width: 24%;
  }
}
@media (min-width: 1400px) {
  .cards {
    width: 66.6%;
  }
}

.btn-regular {
  border: none;
  border-radius: 8px;
  background: #569C87;
  padding: 8px 25px;
}
.btn-regular a {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.125rem;
  text-align: center;
  color: #FDCB47;
  text-decoration: none;
}
@media (max-width: 448px) {
  .btn-regular a {
    font-size: 1rem;
  }
}

.center-row {
  display: flex;
  flex-direction: row;
  align-items: false;
  justify-content: center;
}

.menu {
  box-shadow: 0 0 5px 0 rgba(161, 161, 161, 0.5);
  padding: 2rem 0;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: false;
}
@media (min-width: 960px) {
  .menu {
    width: 80%;
    padding: 4rem 0;
  }
}
@media (min-width: 1400px) {
  .menu {
    width: 66.6%;
  }
}

.head {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: false;
  justify-content: false;
}
.head img {
  width: 33.3%;
}
.head h3 {
  width: 33.3%;
  text-align: center;
}
.head h3 + img {
  transform: scaleX(-1) scaleY(1);
}
@media (min-width: 960px) {
  .head {
    margin-top: 3rem;
  }
}

.main-list {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  align-items: false;
  justify-content: false;
  flex-wrap: wrap;
}
.main-list .description {
  width: 90%;
  text-align: left;
  margin: 0.5rem 0;
}
.main-list .price {
  min-width: 10%;
  text-align: right;
  margin: 0.5rem 0;
}

/*# sourceMappingURL=main.css.map */
