footer {
    background:$primary-color;
    height:3rem;
    @include flex(row, center, space-between);
    position: relative;
    bottom:0;
    a {
        color: $secondary-color;
        font-size: $spacer;
        padding:10px 20px;
        @media (max-width: $sm) {
            font-size:0.75rem;
        }
    }
}