// Buttons

.btn {
    display: inline-block;
    font-family: $btn-font-family;
    font-weight: $btn-font-weight;
    color: $secondary-color;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    background-color: $primary-color;
    border: $btn-border-width solid $primary-color;
    @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
}