// Home

.card-prev {
    height: 400px;
    box-shadow: 0 0 5px 0 rgba(161, 161, 161, 0.5);
    @include flex(column, center, center);
    text-align: center;
    margin-bottom:10px;
    p {
        font-size: $spacer;
        padding-bottom: $spacer;
        text-align: center;
    }
    @media (min-width: $sm) {
        height:400px;
    }
    @media (min-width: $med) {
        height: 500px;
    }
    @media (min-width: $lg) {
        height:350px;
    }
    @media (min-width:$xl) {
        height:400px;
    }
}

.cards {
    @include flex(row, false, space-between);
    @include basic-container;
    flex-wrap: wrap;
    margin-bottom:3rem;
    a {
        width:100%;
        margin:0 auto;
        @media (min-width:$med){
            width:49%;
        }
        @media (min-width:$lg){
            width:24%;
        }
    }
}