// Home

.card-prev {
    height: 500px;
    box-shadow: 0 0 5px 0 rgba(161, 161, 161, 0.5);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-bottom:1rem;
    p {
        padding-bottom: 1rem;
        font-size:0.75rem;
        text-align: center;
        @media (max-width: $sm) {
            font-size:0.65rem;
            padding-bottom:0.5rem;
        }
    }
    @media (max-width: $lg) {
        height:350px;
    }
    @media (max-width: $med) {
        height:250px;
    }
    @media (max-width: $sm) {
        height:150px;
    }
}