html {
    height:100%;
}

body {
    background-color: $body-bg;
    font-family:$font-family;
    min-height:100%;
    width:100%;
    @include flex(column, false, center);
}

a:link {
    text-decoration:none;
}

i {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    color: transparent;
    font-size: 2.5rem;
    background: linear-gradient(to right, #f15861, #f6a183);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media (min-width:$lg) {
        font-size:2.5rem;
        padding-bottom: 1rem;
    }
}

main {
    flex:1;
    margin:3rem 0 5rem 0;
    @media (min-width:$lg) {
        margin:5rem 0 5rem 0;
    }
}

section {
    @include basic-container;
}

.btn-regular {
    border:none;
    border-radius: 8px;
    background: $primary-color;
    padding: 8px 30px;
    a {
        text-align: center;
        color: $secondary-color;
        text-decoration: none;
        @media (max-width: $sm) {
            font-size:1rem;
        }
    }
    @media (min-width:$lg) {
        padding: 12px 40px;
        border-radius:12px;
    }
}

.center-row {
    @include flex(row, false, center);
}

.menu {
    box-shadow: 0 0 5px 0 rgba(161, 161, 161, 0.5);
    padding:2rem 0 4rem 0;
    @include flex(column, center);
    @include basic-container;
    h2 {
        font-size:1.5rem;
    }
    @media (min-width:$lg) {
        width:80%;
        padding:5rem 0 10rem 0;
        h2 {
            font-size:3rem;
        }
    }
}

.container {
    @include basic-container;
}

.head {
    margin-top: 2rem;
    @include flex(row);
    img {
        width:33.3%;
    }
    h3 {
        width:33.3%;
        text-align: center;
    }
    h3+img {
        transform: scaleX(-1) scaleY(1);
    }
    @media (min-width:$lg) {
        margin-top:4rem;
    }

}

.main-list {
    width:100%;
    margin: 2rem 0;
    @include flex(row);
    flex-wrap: wrap;
    .description {
        width:90%;
        text-align:left;
        margin: 0.5rem 0;
    }
    .price {
        min-width:10%;
        text-align: right;
        margin: 0.5rem 0;
    }
}

.icon-svg {
    fill:#000;
}