body {
    background-color: $body-bg;
    font-family:$font-family;
}

a:link {
    text-decoration:none;
}

i {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}

.container {
    width:100%;
    margin:auto;
    padding:0px;
}

main {
    padding:0px 20px;
    margin:auto;
    @media  (min-width:$med) {
        padding:0px 40px;
    }
    @media (min-width:$lg) {
        padding:0px 60px;
    }
    @media (min-width:$xl) {
        padding:0px 80px;
    }
    margin-bottom:13vw;
}

.cards {
    display:flex;
    width:100%;
    margin:5rem auto;
    flex-wrap: wrap;
    justify-content: space-between;
    a {
        width:49%;
        @media (min-width:$lg){
            width:24%;
        }
    }
}

button {
    border:none;
    border-radius: 8px;
    background: $primary-color;
    padding: 8px 25px;
    a {
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.125rem;
        text-align: center;
        color: $secondary-color;
        text-decoration: none;
    }
}

.center-row {
    display: flex;
    justify-content: center;
}

