html {
    height:100%;
}

body {
    background-color: $body-bg;
    font-family:$font-family;
    min-height:100%;
    width:100%;
    @include flex(column, false, center);
}

a:link {
    text-decoration:none;
}

i {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    background: linear-gradient(90deg, rgba(240,81,96,1) 0%, rgba(246,145,106,1) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    @media (min-width:$xl) {
        font-size:2.5rem;
    }
}

main {
    flex:1;
    margin:3rem 0 3rem 0;
    @media (min-width:$lg) {
        margin:5rem 0 5rem 0;
    }
}

section {
    width:85%;
    margin:0 auto;
    @media (min-width:$lg) {
        width:80%;
    }
    @media (min-width:$xl) {
        width:66.6%;
    }
}

.cards {
    @include flex(row, false, space-between);
    width:85%;
    margin:0 auto;
    flex-wrap: wrap;
    margin-bottom:3rem;
    a {
        width:49%;
        margin:0 auto;
        @media (min-width:$lg){
            width:24%;
        }
    }
    @media (min-width:$xl) {
        width:66.6%;
    }
}

.btn-regular {
    border:none;
    border-radius: 8px;
    background: $primary-color;
    padding: 8px 25px;
    a {
        font-size: 1.125rem;
        font-weight: 400;
        line-height: 1.125rem;
        text-align: center;
        color: $secondary-color;
        text-decoration: none;
        @media (max-width: $sm) {
            font-size:1rem;
        }
    }
}

.center-row {
    @include flex(row, false, center);
}

.menu {
    box-shadow: 0 0 5px 0 rgba(161, 161, 161, 0.5);
    padding:2rem 0;
    width:85%;
    margin:0 auto;
    @include flex(column, center);
    @media (min-width:$lg) {
        width:80%;
        padding:4rem 0;
    }
    @media (min-width:$xl) {
        width:66.6%;
    }
}

.head {
    margin-top: 2rem;
    @include flex(row);
    img {
        width:33.3%;
    }
    h3 {
        width:33.3%;
        text-align: center;
    }
    h3+img {
        transform: scaleX(-1) scaleY(1);
    }
    @media (min-width:$lg) {
        margin-top:3rem;
    }

}

.main-list {
    width:100%;
    margin: 2rem 0;
    @include flex(row);
    flex-wrap: wrap;
    .description {
        width:90%;
        text-align:left;
        margin: 0.5rem 0;
    }
    .price {
        min-width:10%;
        text-align: right;
        margin: 0.5rem 0;
    }
}